*{
    text-decoration: none;
    
    font-family: 'Chivo', sans-serif;
}

.picsdiv{
    height: 100vh;

}

#div1{
    background: url(./image.png);
    
  font-family: 'Chivo', sans-serif;
}

#div2{
    height: 100vh;
    
  font-family: 'Chivo', sans-serif;
    /* color: #1ca0f2; */
}

#icon1{
    margin-bottom: 5rem;
}

#happening{
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: sans-serif;
    margin: 3rem 0;
    padding-top: 4rem;
}

#join{
    font-size: 2rem;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 22%;
    margin-top: 4rem;
}

.butt{
    border: none;
    border-radius: 30px;
    font-weight: bold;
}

#sign{
    
    padding: .8rem 12rem;
    background: #1ca0f2;
    color: white;
}

#log{
    background: transparent;
    border: 2px solid #1ca0f2;
}

#login{
    padding: .8rem 12rem;
}

